<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/app.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="user">
            <header class="user__header">
                <img src="../static/tie.svg" alt="" height="100px" width="100px"/>
                <h1 class="user__title">Register</h1>
            </header>
            
            <form class="form" action="/register" method="post">
                <div class="form__group">
                    <input type="text" name="username" placeholder="Username" class="form__input" required/>
                </div>
                
                <div class="form__group">
                    <input type="email" name="email" placeholder="Email" class="form__input" required />
                </div>
                
                <div class="form__group">
                    <input type="password" name="password" placeholder="Password" class="form__input" required/>
                </div>
                <input class="btn" value="Register" type="submit"/>
            </form>
        </div>
    </div>
    <script src="../static/app.js"></script>
</body>
</html>